*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.mp4
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
weights/
results/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Make #
libdarknet.a
libdarknet.so
